NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb+srv://USUARIO:CONTRASENA@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=maya_classroom
WEB_URL=http://localhost:4200
CORS_ORIGINS=http://localhost:4200
JWT_ACCESS_SECRET=cambie-esta-clave-de-acceso-en-produccion
JWT_REFRESH_SECRET=cambie-esta-clave-de-refresco-en-produccion
MAIL_ENABLED=false
STORAGE_DRIVER=local
STORAGE_LOCAL_PATH=./storage
SEED_PASSWORD=Maya2026!
